@media (min-width: 992px) {
  .btn-lg-sm {
    padding: .25rem .75rem;
    font-size: .875rem;
  }
}
@media (min-width: 992px) {
  .card-body {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
}
@media (min-width: 992px) {

  .card .display-5 {
    font-size: 2rem;
  }

  .card .btn-lg {
    font-size: .9rem;
    padding: .4rem .8rem;
  }

  .card .card-body {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

}